@charset "UTF-8";
/*
1.变量
2.@mixin       不带参数的，带参数的，参数带默认值的
  @include
  模块化外链     @import 引用外部文件
3.自定义函数
  @function
  函数名
  自定义的函数  
  @function（参数）{
    条件语句
    循环语句
  }
4.% 占位符
5.继承
*/
/*自定义函数*/
body {
  font-size: 0.32rem;
}

.wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 1.06667rem;
  line-height: 1.06667rem;
  border-bottom: 1px solid #ccc;
  box-sizing: border-box;
  padding: 0 0.37333rem 0 0.53333rem;
}

header .hbox {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .hbox i {
  font-size: 0.42667rem;
}

header .hbox .h-right {
  flex-shrink: 0;
  width: 1.6rem;
  height: 0.53333rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .hbox .h-right .tan {
  width: 0.53333rem;
  height: 0.53333rem;
  border-radius: 50%;
  background: #006eff;
  text-align: center;
  line-height: 0.4rem;
}

header .hbox .h-right .tan i {
  color: #fff;
  font-size: 0.26667rem;
}

footer {
  width: 100%;
  height: 1.06667rem;
  line-height: 1.06667rem;
  display: flex;
  border-top: 1px solid #ccc;
}

footer a {
  flex: 1;
  text-align: center;
}

section {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bigbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bigbox .btnbox {
  margin-top: 0.4rem;
  flex-shrink: 0;
  width: 100%;
  height: 1.92rem;
  box-sizing: border-box;
  padding: 0 0.90667rem;
}

.bigbox .btnbox .nana {
  position: relative;
  width: 100%;
  height: 100%;
}

.bigbox .btnbox .btns {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.bigbox .btnbox .btns .swiper-pagination-bullet-active {
  background: #fff;
}

.bigbox .btnbox .btns .swiper-pagination-bullet-active i {
  color: red;
}

.bigbox .btnbox .btns .swiper-pagination-bullet {
  opacity: 1;
  background: #fff;
}

.bigbox .btnbox .btns dl {
  flex-shrink: 0;
  width: 1.33333rem;
  height: 100%;
}

.bigbox .btnbox .btns dl dt {
  width: 100%;
  height: 1.33333rem;
  text-align: center;
  line-height: 1.33333rem;
  border: 1px solid #ccc;
  border-radius: 50%;
}

.bigbox .btnbox .btns dl dt i {
  font-size: 0.53333rem;
}

.bigbox .btnbox .btns dl dd {
  width: 100%;
  height: 0.58667rem;
  line-height: 0.58667rem;
  text-align: center;
  font-size: 0.26667rem;
}

.bigbox .tabbox {
  flex: 1;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bigbox .tabbox .banner1 {
  width: 100%;
  height: 100%;
}

.bigbox .tabbox .banner1 .page1,
.bigbox .tabbox .banner1 .page2,
.bigbox .tabbox .banner1 .page3,
.bigbox .tabbox .banner1 .page4 {
  width: 100%;
  height: 100%;
}

.bigbox .tabbox .banner1 .page1 {
  background: #fff;
  overflow: scroll;
}

.bigbox .tabbox .banner1 .page2 {
  background: #ffee00;
}

.bigbox .tabbox .banner1 .page3 {
  background: #00aeff;
}

.bigbox .tabbox .banner1 .page4 {
  background: #a6ff00;
}

.page1scroll {
  width: 100%;
}

.page1scroll .info {
  width: 100%;
  height: 9.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page1scroll .info p {
  width: 4.8rem;
  text-align: center;
}

.page1scroll .page1footer {
  width: 100%;
  height: 1.06667rem;
  box-sizing: border-box;
  padding: 0 1.06667rem;
}

.page1scroll .page1footer .p1fbox {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page1scroll .page1footer .p1fbox .me {
  position: absolute;
  left: 0;
  top: 0;
  align-self: flex-start;
  width: 1.06667rem;
  height: 1.06667rem;
  border-radius: 50%;
  text-align: center;
  line-height: 1.06667rem;
  border: 1px solid #000;
}

.page1scroll .page1footer .p1fbox .me i {
  font-size: 0.53333rem;
}

.page1scroll .page1footer .p1fbox .mer {
  flex-shrink: 0;
  width: 4.10667rem;
  height: 1.06667rem;
  border-radius: 0.53333rem;
  text-align: center;
  line-height: 1.06667rem;
  border: 1px solid #000;
}

.page1scroll .page1footer .p1fbox .mer i {
  font-size: 0.53333rem;
}
